<!-- Button trigger modal -->
<div class="container d-md-flex justify-content-md-end">
    
    <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Cerrar Sesion
    </button>
    
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cerrar Sesion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Seguro que desea cerrar la sesion?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <a class="btn btn-primary" href="">Aceptar</a>
            </div>
        </div>
    </div>
</div>


<app-encabezado></app-encabezado>
<app-acerca-de></app-acerca-de>
<app-educacion></app-educacion>
<app-experiencia></app-experiencia>
<app-tecnologias></app-tecnologias>
<app-skills></app-skills>
<app-proyectos></app-proyectos>
<app-contacto></app-contacto>